ADMIN_CODE=<CODE>
ADMIN_TOKEN=<TOKEN>

POSTGRES_DB_NAME=<BD_NAME>
POSTGRES_USER=<USER>
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_HOST=<HOST>
POSTGRES_PORT=<PORT>

BACKEND_URL=0.0.0.0
BACKEND_PORT=8001

FRONTEND_URL=<HOST>

CORE_URL = 127.0.0.1:8000